<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shortner</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
        .center{
            text-align: center;
            text-justify: auto;
            margin: 20px;
        }
        label{
            margin: 5px;
        }
        input text{
            margin: 5px;
            width: 50%;
        }
        .footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          text-align: center;
        }
    </style>
    
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-lg sticky-top bg-dark clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="/">Online Bit</a><button data-toggle="collapse"
                class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="/">Create New Links</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
                    <li class="nav-item"><a class="nav-link" href="/list">List All Active Links</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="center block-heading"><h1>Url Shortner</h1>
    </div>
    
    <div class="container text-center">
    {% if status == '1' %}
    <h2>Your Url is : <a href=/{{url}} target=_blank>{{server}}{{url}}</a></h2>
    {% elif status == '2'%}
    <h2>This URL <a href={{url}} target=_blank>{{server}}{{url}}</a> already exists with name: {{myslug}}</h2>
    {% elif status == '3' %}
    <h2>Your Url is : <a href=/{{url}} target=_blank>{{server}}{{url}}</a></h2>
    {% elif status == '4' %}
    <h2>Your Url is : <a href=/{{url}} target=_blank>{{server}}{{url}}</a></h2>
    {% endif %}
    </div>


    <footer class="footer bg-dark mt-auto p-4">
        <!-- Copyright -->
        <div class=" container footer-copyright text-center p-1 text-light ">© 2020 Copyright:
          <a class="text-light" href="{{server}}" style="display: inline-block;"> Onlinebit.Tech</a>
        </div>
        <!-- Copyright -->
      
      </footer>
</body>
</html>